<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>Barid</b>Media</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Creé un nouveau compte</p>

    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="form-group has-feedback required">
        <input type="text" class="form-control" placeholder="Prénom" formControlName="FirstName">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span *ngIf="formControls.FirstName.touched && formControls.FirstName.errors" class="invalid-feedback text-danger">Le prénom est
          obligatoire</span>
      </div>
      <div class="form-group has-feedback required">
        <input type="text" class="form-control" placeholder="Nom" formControlName="LastName">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span *ngIf="formControls.LastName.touched && formControls.LastName.errors" class="invalid-feedback text-danger">Le nom est
          obligatoire</span>
      </div>

      <div class="form-group has-feedback required">
        <input type="email" class="form-control" placeholder="Email" formControlName="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div *ngIf="formControls.Email.touched && formControls.Email.errors" class="invalid-feedback text-danger">
          <span *ngIf="formControls.Email.errors.required">L'email est obligatoire</span>
          <span *ngIf="formControls.Email.errors.email">L'email est invalid (p. ex., email@example.com)</span>
        </div>
      </div>
      <div formGroupName="Passwords">
        <div class="form-group has-feedback required">
          <input type="password" class="form-control" placeholder="Mot de passe" formControlName="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="registerForm.get('Passwords.Password').touched && registerForm.get('Passwords.Password').errors"
            class="invalid-feedback text-danger">
            <span *ngIf="registerForm.get('Passwords.Password').errors?.required">Le mot de passe est obligatoire</span>
            <span *ngIf="registerForm.get('Passwords.Password').errors?.minlength">Le mot de passe doit avoir au mois 8 caractères</span>
          </div>
        </div>
        <div class="form-group has-feedback required">
          <input type="password" class="form-control" placeholder="Confirmer le mot de passe"
            formControlName="ConfirmPassword">
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <div *ngIf="registerForm.get('Passwords.ConfirmPassword').touched && registerForm.get('Passwords.ConfirmPassword').errors"
            class="invalid-feedback text-danger">
            <span *ngIf="registerForm.get('Passwords.ConfirmPassword').errors?.required">La confirmation de mot de passe
              est obligatoire</span>
              <span *ngIf="registerForm.get('Passwords.ConfirmPassword').errors?.passwordMismatch">La confirmation de mot
              de passe n'est pas identique</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <a routerLink="/user/login" class="text-center">J'ai déja un compte</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!registerForm.valid">S'inscrire</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->